<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行 / パッケージ処理で使用されます。この MSBuild ファイルを編集すると、
この処理の動作をカスタマイズできます。詳細については、https://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/004954d9-998d-4865-b999-a4d2d6c095b5/resourcegroups/TauTauApplication/providers/Microsoft.Web/sites/TauTau20190103085614</ResourceId>
    <ResourceGroup>TauTauApplication</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tautau20190103085614.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tautau20190103085614.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TauTau20190103085614</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TauTau20190103085614</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MTauTauContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:tautau.database.windows.net,1433;Initial Catalog=TauTauDatabase;Persist Security Info=False;User ID={handballhiro1998@gmail.com};Password={Hiro19981122@};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:tautau.database.windows.net,1433;Initial Catalog=TauTauDatabase;Persist Security Info=False;User ID={handballhiro1998@gmail.com};Password={Hiro19981122@};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TauTau.Models.MTauTauContext, TauTau" MigrationConfiguration="TauTau.Migrations.Configuration, TauTau" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MTauTauContext-Web.config Connection String">
      <ParameterValue>Server=tcp:tautau.database.windows.net,1433;Initial Catalog=TauTauDatabase;Persist Security Info=False;User ID={handballhiro1998@gmail.com};Password={Hiro19981122@};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>