/* リセット */
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
/* リセット */

/* Set width on the form input elements since they're 100% wide by default */
.Respons_Text {
    padding-bottom: 100px;
    width: 100%;
    overflow: auto;
}
#Respons_Button {
    display: block;
    padding: 10px 350px;
    width: 100%;
}
#Cycle_Box {
    width: 400px;
    display: block;
    padding: 30px;
    background: linear-gradient(#fff6ed, #ffffff);
}
#Cycle_StockBox {
    width: 300px;
    display: block;
    background: linear-gradient(#fff6ed, #ffffff);
}
#Stock_View {
    width: 280px;
    height: auto;
    max-width: 280px;
    margin: 0;
    padding: 0;
}
#white_space {
    padding: 10px;
}

/* メインページ */
#Wrapper_leftbody {
    display: block;
    width: 550px;
    height: 800px;
    margin-right: 200px;
    overflow: auto;
    border: 1px solid #fff3ec;
}
#Block_Style {
    display: block;
}
#wrapper_body {
    width: 100%;
    display: flex;
}
#Wrapper_rightbody {
    width: 400px;
    margin: 0;
    padding: 0;
}
#MusicButton {
    display: block;
}
#Music_Stock {
    width: 400px;
    height: auto;
}
#Music_Stock1 {
    width: 400px;
    height: 60px;
    margin: 15px 0;
}
#Music_Stock2 {
    width: 400px;
    height: 60px;
    margin: 15px 0;
}
#Music_Stock3 {
    width: 400px;
    height: 60px;
    margin: 15px 0;
}
#Music_Stock4 {
    width: 400px;
    height: 60px;
    margin: 15px 0;
}
#Music_Stock5 {
    width: 400px;
    height: 60px;
    margin: 15px 0;
}
#Music_Stock6 {
    width: 400px;
    height: 60px;
    margin: 15px 0;
}
#Music_Stock7 {
    width: 400px;
    height: 60px;
    margin: 15px 0;
}
#Music_Stock8 {
    width: 400px;
    height: 60px;
    margin: 15px 0;
}
/* メインページ */
/* 部分ビュー：ストックページビュー */
#StockView_Box {
    width: 300px;
    max-width: 300px;
}
/* 単体ページ：ミュージックページ.sta */
#MusicWrapper_Body {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
#Music_Body {
    width: 1080px;
    height: auto;
}
#MusicPage_RightBody {
    width: 1080px;
    height: auto;
    background: linear-gradient(#fff6ed, #ffffff);
}
#Music_PostData {
    padding-top: 10px;
    line-height: 45px;
    width: 800px;
    height: auto;
    max-width: 800px;
    font-size: 23px;
    font-family: 'Noto Serif SC', serif;
    letter-spacing: 8px;
}
.Navbar_Header {
    background-color: #f7beaf;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin: 0 20px 0 0;
}
.Navbar_Header_Mini {
    padding-top: 16px;
    margin: 0 0 0 20px;
    font-size: 20px;
    text-decoration: none;
}
.MusicContainer {
    display: flex;
}
#Music_HeaderList {
    list-style: none;
    background-color: #f7beaf;
    font-family: 'Noto Serif SC', cursive;
}
.HeadActionLink:hover {
    color: #ff6a00;
}
.HeadActionLink {
    color: #ffffff;
    text-decoration: none;
}
.HeadActionLink_Mini:hover {
    color: #ff6a00;
}
.HeadActionLink_Mini {
    color: #ffffff;
    text-decoration: none;
}
#OnpData {
    color: #ff6a00;
}
#PostData {
    display: flex;
}
/* ミュージックヘッダーレイアウト */
.MusicHeader {
    background-color: #f7beaf;
    margin-bottom: 15px;
}
#Music_h2 {
    margin-bottom: 15px;
}
/* ミュージックヘッダーレイアウト */
/* 単体ページ：ミュージックページ.fin */